{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="{% static 'dashboard/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main id="dashboard">
    <section v-if="errored">
        <div class="alert alert-danger text-center">
            <p>Unable to retrieve information at the moment.</p>
        </div>
    </section>
    <section v-else>
        <div v-if="loading">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
                Loading...
            </div>
        </div>
        <div v-else>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th>#</th>
                    <th>IP Address</th>
                    <th>Label</th>
                    <th>OBS Status</th>
                    <th style="width: 200px">CPU</th>
                    <th style="width: 100px">Temperature</th>
                    <th style="width: 80px">RAM</th>
                    <th>Channel ID</th>
                    <th>Uptime</th>
                </thead>
                <tbody>
                    <tr
                        is="node"
                        v-for="node in nodes" :key="node.id"
                        :id="node.id"
                        :ip_address="node.ip_address"
                        :label="node.label"
                        :ping="node.ping"
                        :obs_status="node.obs_status"
                        :channel_id="node.channel_id"
                        :uptime="node.uptime"
                        :cron="node.cron"
                        :screenshot_url="node.screenshot_url"
                    ></tr>
                </tbody>
            </table>
        </div>
    </section>
    <div v-if="modal" class="modal-backdrop show"></div>
</main>

<script>var netdataNoBootstrap = true;</script>
<script type="text/javascript" src="http://192.168.2.45:19999/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
{% endblock %}