{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="A cloud-delivered smart content engine that provides opportunities for content monetization, sharper targeting decisions, cost efficiencies for media companies. AthenasOwl leverages next-gen AI to provide granular content meta-tags." />
    
    <!-- For bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <!-- For jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="https://athenasowl.tv/favicon.png">

    {% block head %}
    {% endblock %}
    
    <link rel="stylesheet" href="{% static "ui/css/main.css" %}"/>
	<title>TV Recording Dashboard | AthenasOwl</title>
</head>

<body>
    {% include 'dashboard/navbar.html' %}
	<main class="container">
            <ul class="nav nav-pills nav-fill my-3">
                {% for model in models %}
                    <li class="nav-item">
                        <a class='nav-link {% if request.path == "/ui/"|add:model %}active{% endif %}' href="/ui/{{ model }}" role="button">{{ model }}</a>
                    </li>
                {% endfor %} 
            </ul>
            
        {% block content %}
        {% endblock %}
	</main>

    <!-- For bootstrap JS-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    {% block footer %}
    {% endblock %}
	
</body>
</html>