{% extends 'ui/base.html' %}
{% load static %}

{% block head %}
    <!-- For Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{% static "graph_ui/css/google-chart-timeline-main.css" %}"/>
{% endblock %}


{% block content %}
      
      <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="date" class="form-control" id="date" name='date' placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    <br>
    <br>
    <div id="main">
      {% for channel in channels %}
          <div id="{{ channel.channel_value }}">
            <div class="border border-primary rounded">
              <h4><img src='{{ channel.logo_url }}' style="height: 100px; width: 100px"> - {{ channel.channel_name}}</h4>
              <h5>Device A</h5>
              <div id="a_{{channel.channel_value}}"></div>

              <h5>Device B</h5>
              <div id="b_{{channel.channel_value}}"></div>
            </div>
          </div>
          <br>
      {% endfor %}
    </div>
{% endblock %}


{% block footer %}
  <script type="text/javascript">
  var channelValues = [];
  {% for channel in channels %}
    channelValues.push({{channel.channel_value}});
  {% endfor %}
  </script>
  <script src="{% static "graph_ui/js/google-charts-timeline-main.js" %}"></script>
{% endblock %}