{% extends 'ui/base.html' %}
{% load static %}

{% block head %}
    <!-- For d3.js -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="{% static "graph_ui/js/d3-timeline.js" %}"></script>
    <link rel="stylesheet" href="{% static "graph_ui/css/main.css" %}"/>
{% endblock %}


{% block content %}
      <div>
        <!-- <h3>A simple timeline</h3> -->
        <img src="{% static "graph_ui/img/sony.png" %}" style="height: 50px; width: 50px">
        <div id="timeline1"></div>
      </div>
      
      <br>
<!--       
      <div>
        <h3>A simple timeline without Axis</h3>
        <div id="timeline1_noaxis"></div>
      </div>
      
      <br>
      
      <div>
        <h3>It works with circles too</h3>
        <div id="timeline2"></div>
      </div>
      
      <br>
      
      <div>
        <h3>Combine circles and rectangles</h3>
        <div id="timeline2_combine"></div>
      </div>
      
      <br>
      
      <div>
        <h3>A stacked timeline with hover, click, and scroll events</h3>
        <div id="timeline3"></div>
        <div id="hoverRes">
          <div class="coloredDiv"></div>
          <div id="name"></div>
          <div id="scrolled_date"></div>
        </div>
      </div>
      
      <br>
      
      <div>
        <h3>We can also use icons</h3>
        <div id="timeline5"></div>
      </div>

      <br>
      
      <div>
        <h3>We can change colors and put labels</h3>
        <div id="timeline6"></div>
      </div>
      
      <br>

      <div>
        <h3>We can also rotate tick mark labels</h3>
        <div id="timeline7"></div>
      </div>
    
      <br>

      <div>
        <h3>A timeline with colors mapped from the data</h3>
        <div id="timelineColors"></div>
      </div>
      
      <br>

      <div>
        <h3>A timeline with colors mapped from the data for individual time objects</h3>
        <div id="timelineColorsPerTime"></div>
      </div>
      
      <br>

      <div>
        <h3>A timeline with relative timepoints</h3>
        <div width="100%" id="timelineRelativeTime"></div>
      </div>
      
      <br>

      <div>
        <h3>A stacked timeline with axis on top</h3>
        <div width="100%" id="timelineAxisTop"></div>
      </div>
    
      <br>

      <div>
        <h3>A stacked timeline with backgrounds</h3>
        <div width="100%" id="timelineBgnd"></div>
      </div>
      
      <br>

      <div>
        <h3>A stacked timeline with backgrounds and ticks</h3>
        <div width="100%" id="timelineBgndTick"></div>
      </div>
      
      <br>
      
      <div>
        <h3>A complex timeline</h3>
        <div width="100%" id="timelineComplex"></div>
      </div> -->
{% endblock %}


{% block footer %}
  <script src="{% static "graph_ui/js/main.js" %}"></script>
{% endblock %}