<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Timelines
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'graph-recording' %}">All Recordings</a>
                <a class="dropdown-item" href="{% url 'graph-blank' %}">Blank Frames</a>
                <a class="dropdown-item" href="{% url 'graph-filter-recording-tracking' %}">Filtered Recordings</a>
            </div>
        </li>
        
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blank Frames Report
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'ui-daily-report-home' %}">Daily Report</a>
                <a class="dropdown-item" href="{% url 'ui-weekly-report-home' %}">Weekly Report</a>
            </div>
        </li>
        {% endif %}
    </ul>
    

    <div class="mx-auto order-0">
        <a class="navbar-brand ao-logo" href="{% url 'graph-recording' %}">AthenasOwl</a>
    </div>

    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'monitoring:index' %}">Monitoring</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1EgZMWRG4VsuaT7bPOKtgCWLF_sNdv4Qt_JAOEe977Mg/edit?ts=5c835c30#gid=92650668">Taggers Sheet</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Log-Out</a>
            </li>
        {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Log-In</a>
            </li>
        {% endif %}
    </ul>
</nav>